parameters:
    level: 8
    paths:
        - src
    reportUnmatchedIgnoredErrors: true
    checkUnionTypes: true
    inferPrivatePropertyTypeFromConstructor: true
    excludePaths:
        analyse:
            - src/**/Persistence/*
            - src/**/Business/*
            - src/**/Communication/*
            - src/Infrastructure/*